# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
.env/

# Distribution / packaging
build/
dist/
*.egg-info/

# Testing
.coverage
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/

# Sensitive files
.env
*.log

# MacOS
.DS_Store
._.DS_Store
._*

# uv lock file is needed, don’t ignore uv.lock
# pyproject.toml is needed, don’t ignore it

*.csv
*.tsv
*.zip
*.json
*.gml
*.gext
*.ids

# Project-specific data files
!data-and-network/attraction-sentiment-net*
data-and-network/Places/geoNames/
data-and-network/Scraper/google_reviews.*
